.Blob {
    background-color: var(--color-primary);
    width: 40%;
    height: 60%;
    position: absolute;
    left: 40rem;
    top: 6rem;
    border-radius: 69% 31% 70% 30% / 30% 8% 92% 70% ;
}

.Home-img {
    -webkit-animation: bounce-in-top 1.1s both;
	        animation: bounce-in-top 1.1s both;
}

.Heading-primary {
    font-weight: bold;
}

.Primary-text {
    font-size: 5.5rem;
    color: var(--color-primary);
    animation-name: focus-in-contract;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

.Gradient {
    background: linear-gradient(to bottom, rgba(74, 213, 117, 0.2), var(--color-white));
}

@media (max-width : 900px) {
   .Primary-text{
        font-size: 3.5rem;
   }

   .Sub-text {
       font-size: 2.5rem;
   }

   .Typygrapy {
       font-size: 1rem;
   }

   
}

@media (max-width : 650px) {
    .Home-Button{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
   }
   .Home{
       display: block;
   }
   .Home-img{
       z-index: -1;
       max-width: 100%;
       margin-top: -20rem;
   }
   .Home-media{
        max-width: 100%;
        margin-left: -8rem;
        margin-top: -3rem;
   }
   .Typygrapy {
        margin-top: 2rem;
        font-weight: bold;
    }

   .Blob{
       display: none;
   }
}